.c-button {
  width: 270px;
  height: 44px;
}

.button {
  width: inherit;
  height: inherit;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;

  &:hover {
    background-color: #9E9E9E;
  }
}

.themeGray {
  background-color: #9E9E9E;
}
.themeGreen {
  background-color: #31AE54;
}

.loader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-wrap {
  height: 18px;
  width: 18px;
  color: #fff;
}
