.progres {
  width: 360px;
  height: 2px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: #31AE544D;

    &.active {
      .indicator {
        width: 100%;
        transition: width 5s;
        transition-timing-function: linear;
      }
    } 
} 

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #31AE54;
}